.icon-sizing {
  width: 35px;
  height: 35px;
  background-color: #00dbc3;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 37px;
  border-radius: 50%;
}
.icon-sizing:hover {
  background-color: white;
  color: #00dbc3;
}
.first-icon {
  font-size: 28px;
}
